In [1]:

import requests
import pyodbc
import dataset
import json
import os

In [5]:
username = 'sa'
password = 'SqlServer2019!'
database = 'master'

# Define the connection string for your SQL Server database
# Replace 'your_username', 'your_password', 'your_database' with your actual credentials
connection_string = f'mssql+pyodbc://{username}:{password}@sqlserver:1433/{database}?driver=ODBC+Driver+17+for+SQL+Server'

## SERVER=xxxTest-SRV,51333;
# Connect to the SQL Server database
db = dataset.connect(connection_string, schema='production')

In [8]:
print(db.tables)

AttributeError: 'NoneType' object has no attribute 'connect'

In [7]:
db.close()

In [3]:
print(db.tables)

['brands', 'categories', 'products', 'stocks']

In [4]:
table = db['products']

table.columns

['product_id',
 'product_name',
 'brand_id',
 'category_id',
 'model_year',
 'list_price']

In [10]:
result = db.query('SELECT top 5 * FROM production.products')
for row in result:
   print(row)

OrderedDict([('product_id', 1), ('product_name', 'Trek 820 - 2016'), ('brand_id', 9), ('category_id', 6), ('model_year', 2016), ('list_price', Decimal('379.99'))])
OrderedDict([('product_id', 2), ('product_name', 'Ritchey Timberwolf Frameset - 2016'), ('brand_id', 5), ('category_id', 6), ('model_year', 2016), ('list_price', Decimal('749.99'))])
OrderedDict([('product_id', 3), ('product_name', 'Surly Wednesday Frameset - 2016'), ('brand_id', 8), ('category_id', 6), ('model_year', 2016), ('list_price', Decimal('999.99'))])
OrderedDict([('product_id', 4), ('product_name', 'Trek Fuel EX 8 29 - 2016'), ('brand_id', 9), ('category_id', 6), ('model_year', 2016), ('list_price', Decimal('2899.99'))])
OrderedDict([('product_id', 5), ('product_name', 'Heller Shagamaw Frame - 2016'), ('brand_id', 3), ('category_id', 6), ('model_year', 2016), ('list_price', Decimal('1320.99'))])